# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env

# Logs
reports/logs/

# Generated reports
reports/
reports/html/
reports/allure-results/
reports/screenshots/

# OS files
.DS_Store
Thumbs.db